.accordionDisplay {
  display:  none
}

@media (min-width: 768px) {
  .accordionDisplay {
    display:  block
 }
}

.accordionDisphlay {
  display:  none
}

@media (min-width: 768px) {
  .accordionDisphlay {
    display:  block
 }
}

.markdownBody {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  font-family: var(--montserrat-font), sans-serif;
  font-size: 16px;
  line-height: 1.625;
  word-wrap: break-word;
}

.markdownBody details,
.markdownBody figcaption,
.markdownBody figure {
  display: block;
}

.markdownBody summary {
  display: list-item;
}

.markdownBody [hidden] {
  display: none !important;
}

.markdownBody a {
  background-color: transparent;
  color: #fe5caa;
  text-decoration: none;
}

html[data-theme='dark'] .markdownBody a {
  color: #ea3b87;
}

.markdownBody a:active,
.markdownBody a:hover {
  outline-width: 0;
}

.markdownBody abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

.markdownBody b,
.markdownBody strong {
  font-weight: 600;
}

.markdownBody dfn {
  font-style: italic;
}

.markdownBody h1 {
  margin: 0.67em 0;
  padding-bottom: 0.3em;
  font-size: 2em;
}

.markdownBody mark {
  background-color: #fff8c5;
  color: #24292f;
}

.markdownBody small {
  font-size: 90%;
}

.markdownBody sub,
.markdownBody sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdownBody sub {
  bottom: -0.25em;
}

.markdownBody sup {
  top: -0.5em;
}

.markdownBody img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
}

.markdownBody code,
.markdownBody kbd,
.markdownBody pre,
.markdownBody samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

.markdownBody figure {
  margin: 1em 40px;
}

.markdownBody hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: none;
  height: 1px;
  padding: 0;
  margin: 24px 0;
  background-color: #e3e8ef;
  border: 0;
}

.markdownBody input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdownBody [type='button'],
.markdownBody [type='reset'],
.markdownBody [type='submit'] {
  -webkit-appearance: button;
}

.markdownBody [type='button']::-moz-focus-inner,
.markdownBody [type='reset']::-moz-focus-inner,
.markdownBody [type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.markdownBody [type='button']:-moz-focusring,
.markdownBody [type='reset']:-moz-focusring,
.markdownBody [type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.markdownBody [type='checkbox'],
.markdownBody [type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

.markdownBody [type='number']::-webkit-inner-spin-button,
.markdownBody [type='number']::-webkit-outer-spin-button {
  height: auto;
}

.markdownBody [type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.markdownBody [type='search']::-webkit-search-cancel-button,
.markdownBody [type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

.markdownBody ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

.markdownBody ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.markdownBody a:hover {
  text-decoration: underline;
}

.markdownBody hr::before {
  display: table;
  content: '';
}

.markdownBody hr::after {
  display: table;
  clear: both;
  content: '';
}

.markdownBody table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.markdownBody .table-container {
  overflow-x: auto;
  max-width: calc(100vw - 850px);
  margin: 0;
}
@media only screen and (max-width: 400px) {
  .markdownBody .table-container {
    max-width: 90vw;
  }
}
.markdownBody td,
.markdownBody th {
  padding: 0;
}

.markdownBody details summary {
  cursor: pointer;
}

.markdownBody details:not([open]) > *:not(summary) {
  display: none !important;
}

.markdownBody kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  line-height: 10px;
  color: #24292f;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px rgba(175, 184, 193, 0.2);
  border-bottom-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
}

.markdownBody h1,
.markdownBody h2,
.markdownBody h3,
.markdownBody h4,
.markdownBody h5,
.markdownBody h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.25;
  scroll-margin-top: 80px;
}

.markdownBody h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
}

.markdownBody h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.markdownBody h4 {
  font-weight: 600;
  font-size: 1em;
}

.markdownBody h5 {
  font-weight: 600;
  font-size: 0.875em;
}

.markdownBody h6 {
  font-weight: 600;
  font-size: 0.85em;
  color: #57606a;
}

.markdownBody p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdownBody blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: 0.25em solid #d0d7de;
}

.markdownBody ul,
.markdownBody ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdownBody ol ol,
.markdownBody ul ol {
  list-style-type: lower-roman;
}

.markdownBody ul ul ol,
.markdownBody ul ol ol,
.markdownBody ol ul ol,
.markdownBody ol ol ol {
  list-style-type: lower-alpha;
}

.markdownBody dd {
  margin-left: 0;
}

.markdownBody tt,
.markdownBody code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 12px;
}

.markdownBody pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 12px;
  word-wrap: normal;
}

.markdownBody ::placeholder {
  color: #6e7781;
  opacity: 1;
}

.markdownBody input::-webkit-outer-spin-button,
.markdownBody input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdownBody [data-catalyst] {
  display: block;
}

.markdownBody::before {
  display: table;
  content: '';
}

.markdownBody::after {
  display: table;
  clear: both;
  content: '';
}

.markdownBody > *:first-child {
  margin-top: 0 !important;
}

.markdownBody > *:last-child {
  margin-bottom: 0 !important;
}

.markdownBody a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdownBody p,
.markdownBody blockquote,
.markdownBody ul,
.markdownBody ol,
.markdownBody dl,
.markdownBody table,
.markdownBody pre,
.markdownBody details {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdownBody blockquote > :first-child {
  margin-top: 0;
}

.markdownBody blockquote > :last-child {
  margin-bottom: 0;
}

.markdownBody sup > a::before {
  content: '[';
}

.markdownBody sup > a::after {
  content: ']';
}

.markdownBody h1:hover .anchor,
.markdownBody h2:hover .anchor,
.markdownBody h3:hover .anchor,
.markdownBody h4:hover .anchor,
.markdownBody h5:hover .anchor,
.markdownBody h6:hover .anchor {
  text-decoration: none;
}

.markdownBody h1 tt,
.markdownBody h1 code,
.markdownBody h2 tt,
.markdownBody h2 code,
.markdownBody h3 tt,
.markdownBody h3 code,
.markdownBody h4 tt,
.markdownBody h4 code,
.markdownBody h5 tt,
.markdownBody h5 code,
.markdownBody h6 tt,
.markdownBody h6 code {
  padding: 0 0.2em;
  font-size: inherit;
}

.markdownBody ul.no-list,
.markdownBody ol.no-list {
  padding: 0;
  list-style-type: none;
}

.markdownBody ol[type='1'] {
  list-style-type: decimal;
}

.markdownBody ol[type='a'] {
  list-style-type: lower-alpha;
}

.markdownBody ol[type='i'] {
  list-style-type: lower-roman;
}

.markdownBody div > ol:not([type]) {
  list-style-type: decimal;
}

.markdownBody ul ul,
.markdownBody ul ol,
.markdownBody ol ol,
.markdownBody ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdownBody li > p {
  margin-top: 16px;
}

.markdownBody li + li {
  margin-top: 0.25em;
}

.markdownBody dl {
  padding: 0;
}

.markdownBody dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdownBody dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdownBody table th {
  font-weight: 600;
}

.markdownBody table th,
.markdownBody table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

.markdownBody table tr {
  background-color: transparent;
  border-top: 1px solid hsla(210, 18%, 87%, 1);
}

.markdownBody table tr:nth-child(2n) {
  background-color: #8181812a;
}

.markdownBody table img {
  background-color: transparent;
}

.markdownBody img {
  margin: 0 auto;
}

.markdownBody img[align='right'] {
  padding-left: 20px;
}

.markdownBody img[align='left'] {
  padding-right: 20px;
}

.markdownBody code,
.markdownBody tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
}

.markdownBody code br,
.markdownBody tt br {
  display: none;
}

.markdownBody del code {
  text-decoration: inherit;
}

.markdownBody pre code {
  font-size: 100%;
}

.markdownBody pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdownBody pre code,
.markdownBody pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdownBody ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}
.markdownBody details {
  border: 1px solid #d0d7de;
  background-color: #0000002a;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.markdownBody summary {
  cursor: pointer;
}

.markdownBody summary > * {
  display: inline;
}

/* DARK MODE STYLES */

.markdownBodyDark {
  color: #eeeeee;
}
.markdownBodyDark h6 {
  color: #c5c5c5;
}

.markdownBodyDark hr {
  background-color: #40444e;
}

.markdownBodyDark blockquote {
  color: #ffffffa3;
  border-left: 0.25em solid #ffffffa3;
}
