.ProseMirror,
.toastui-editor-contents {
  font-size: 16px !important;
}
html {
  scroll-behavior: smooth;
}
#bp_container > .bp-x {
  justify-content: center;
  align-items: center;
  display: flex;
}
