.redo__toolbarBtn {
  background-image: url(./assets/redo-icon.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  display: inline-block;
  vertical-align: middle;
  background-clip: content-box;
  border: none !important;
}
.toastui-editor-dark .redo__toolbarBtn {
  background-image: url(./assets/redo-icon-dark.png) !important;
}
